<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaddb4">  <td>21/03/01 06:32:31</td>   <td>0</td> <td title="&gt;&gt;AppiumServerStartandStop.startAppium()[pri:0, instance:com.appium.AppiumServerStartandStop@79179359]">&gt;&gt;startAppium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="aaddb4">  <td>21/03/01 06:32:39</td>   <td>8039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumServerStartandStop.tc_01()[pri:0, instance:com.appium.AppiumServerStartandStop@79179359]">tc_01</td> 
  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="aaddb4">  <td>21/03/01 06:32:39</td>   <td>8803</td> <td title="&lt;&lt;AppiumServerStartandStop.stopAppium()[pri:0, instance:com.appium.AppiumServerStartandStop@79179359]">&lt;&lt;stopAppium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
</table>
